#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:
 *List popular languages for Data Science
 *Libraries
 *Github
 *R

Some of the popular languages that Data Scientists use are:
1-Python
2-R
3-javascript
4-C++

Some of the commonly used libraries used by Data Scientists include:

1-Pandas
2-Numpy
3-MatPlotLib

Data Science Tools:
1-RStudio
2-Apache Spark
3-TensorFlow

###Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers:

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

**Author

  firas harb